body,
.main,
.app {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    position: relative;
    min-height: 100vh;
}

#light .main,
body {
    background: #fff;
    color: #121212;
    height: 100%;
    min-height: 100vh;
}

#dark .main,
body {
    background: #121212;
    color: #fff;
}

header {
    display: flex;
    justify-content: start;
    color: white;
    background-image: url("assets/backg.jpg");
    background-size: cover;
    padding: 50px 50px 300px 50px;
    margin: 0 auto;
    font-size: 42px;
    background-color: rgb(0, 0, 0, 0.7);
    background-blend-mode: darken;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    position: fixed;
}

.title {
    font-size: 50px;
    color: white;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.router-links {
    display: flex;
    gap: 45px;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    align-items: center;
    gap: 15px;
}

.switch-container label {
    font-size: 16px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    text-align: center;
    gap: 30px;
    height: 60vh;
}

#light .login-container {
    background-color: #fff;
    color: #121212;
}

#dark .login-container {
    background: #121212;
    color: #fff;
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 25%;
    min-width: 290px;

}

.rout-btn {
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.rout-btn:hover {
    color: #787878;
}

form {
    margin: 0 auto;
    width: 55%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

form input {
    font-size: 17px;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    margin-top: -30px;
}

#light form input {
    background-color: #bdbdbd;
    color: #121212;
}

#dark form input {
    background: #2f2f2f;
    color: #fff;
}


.btn {
    width: 20%;
    cursor: pointer;
    background-color: gray;
    color: white;
    border-radius: 0 10px 10px 0;
    border: none;
    font-size: 1em;
}

.list {
    display: flex;
    justify-content: start;
    color: white;
    padding: 40px 0;
    width: 45%;
    max-width: 100%;
    margin: 0 auto;

}

#light .list {
    background: #ffffff;
    color: #121212;
    border-bottom: 1px solid #E5E7EB;
}

#dark .list {
    background: #121212;
    color: #fff;
    border-bottom: 1px solid #2C2C2C;
}

.pager {
    display: flex;
    margin: 0 auto;
    width: 40%;
    overflow-x: hidden;
    gap: 4px;
    padding: 40px 0;
}

.pagebtn {
    width: 130px;
    margin: 0 auto;
    color: aliceblue;
    background-color: #2f2f2f;
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin-top: auto;
    cursor: pointer;
}

#light .pagebtn {
    background: #bdbdbd;
    color: #121212;
}

.movie-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 25px;
    width: 100%;
    height: 75px;
    padding-top: 90px;
}

.titleRating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.movieDetails {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}

.movieDetails p {
    margin-right: 2em;
}

.list img {
    width: 200px;
    min-height: 270px;
    border-radius: 5px;
}

.plot {
    width: 100%;
    min-width: 630px;
}

.list h1 {
    margin-right: 25px;
}

.favs {
    color: #787878;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px;
}

.watchlist-startscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 40px;

}

.watchlist-btn {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #787878;
}

.main {
    padding-bottom: 30px;
}

.add-btn {
    color: white;
    background-color: #2f2f2f;
    border: none;
    cursor: pointer;
    padding: 0.7em;
    border-radius: 5px;
    font-weight: 700;
}

#light .add-btn {
    background: #bdbdbd;
    color: #121212;
}

.checkMark {
    color: green;
}

.footer {
    margin-top: auto;
    text-align: center;
    padding: 30px;
    background-color: #2C2C2C;
    font-weight: 700;
}